<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head(#{home.welcome.title})}"></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<nav th:replace="~{fragments/layout :: nav('hello')}">placeholder</nav>
<div class="welcome-container" style="padding-bottom: 80px;">
    <img th:src="@{/images/basic/home.jpg}" class="welcome-opacity">
    <div class="centered" style="width: 50%">
        <h1 th:text="#{welcome.text}" style="font-size:4vw; font-family: 'Arial Black',serif">Welcome to Ekspla Problem Store!</h1>
        <h3 th:text="#{welcome.description}" style="font-size:1.5vw; font-family: 'Arial Black',serif">Page description</h3>
    </div>
</div>

<div class="container" style="padding-bottom: 40px;">
    <div class="row">
        <div class="col-lg-4">
            <img th:src="@{/images/basic/list.png}" width="140" height="140">
            <h2 th:text="#{problems.title}">Problem List</h2>
            <p>View previous problems. Find similar problems to yours and check applied solutions for to implement yourself or get additional information.</p>
            <p><a class="btn btn-secondary; button_enter" th:href="@{/problems}" th:text="#{problems.title}" role="button">View Problems »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" th:src="@{/images/basic/question-mark.png}" width="140" height="140">
            <h2 th:text="#{problem.create.title}">Enter a problem</h2>
            <p>Enter a problem for any laser that is in the manufacturing process. Add comments, photos and other valuable information to help make sure, this will be the last time such problem occurs!</p>
            <p><a class="btn btn-secondary; button_enter" th:href="@{/problems/create}" th:text="#{problem.create.title}" role="button">Enter a problem</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" th:src="@{/images/basic/laser.png}" width="140" height="140">
            <h2 th:text="#{laser.create.title}">Register a laser</h2>
            <p>Register a new laser into production to store any information about possible problems occurring throughout the manufacturing time of the product.</p>
            <p><a class="btn btn-secondary; button_enter"  th:href="@{/lasers/create}" th:text="#{laser.create.title}" role="button">Register a laser</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>

<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>
</body>
</html>