<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title th:text="*{title}"></title>
</head>

<header class="header" th:fragment="header">
    <a class="home-link" th:class="header_logo" th:href="@{/hello}"></a>
</header>

<nav th:fragment="nav(page)" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/hello}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/problems}" th:text="#{problems.title}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/problems/create}" th:text="#{problem.create.title}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/create}" th:text="#{employee.create.title}"></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/lasers}" th:text="#{lasers.title}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lasers/create}" th:text="#{laser.create.title}"></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"
                       th:text="#{language.choose}">
                        Choose language
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="'/' + *{page} + '?lang=lt'" th:text="'Lietuvių'">LT</a></li>
                        <li><a class="dropdown-item" th:href="'/' + *{page} + '?lang=de'" th:text="'Deutsch'">DE</a></li>
                        <li><a class="dropdown-item" th:href="'/' + *{page} + '?lang=en'" th:text="'English'">EN</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-end gap-4 me-4" style="width: 100%" sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.fullName" class="centered-span"></span>
        <a class="btn btn-primary; button_enter" th:href="@{/logout}" th:text="'Logout'">Logout</a>
    </div>
</nav>

<footer th:fragment="footer">
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h3 th:text="#{footer.aboutMe}">About me</h3>
                <p class="mb-4" th:text="#{footer.my.description}">Description about the creator of the page</p>
                <ul class="list-unstyled quick-info mb-4">
                    <li><a href="#" class="d-flex align-items-center"><img th:src="@{/images/basic/telephone.png}" style="width: 3%; height: 3%">  +370 604 85963</a></li>
                    <li><a href="#" class="d-flex align-items-center"><img th:src="@{/images/basic/email.png}" style="width: 3%; height: 3%">  g.babaitis@ekspla.com</a></li>
                </ul>
                <form action="#" class="subscribe">
                    <input type="text" class="form-control" placeholder="Enter your e-mail">
                    <button class="btn btn-primary; button_enter" type="submit" th:text="#{footer.send}">Send</button>
                </form>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <img th:src="@{/images/basic/GB_Bust_removeBg.png}" class="responsive">
            </div>
            <div class="col-12">
                <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
                    <p class="text-center" th:text="#{footer.message}"></p>
                    <div >
                        <a class="centered-span" href="#" style="font-size:0.8vw; font-family: 'Arial Black',serif; color: #006432"> <img th:src="@{/images/basic/ekspla_logo.png}" style="width: 10%; height: 10%"> Ekspla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <i class="bi bi-telephone-fill"></i>
    </div>

</footer>
</html>