<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head(#{employee.create.title})}"></head>
<body>
<nav th:replace="~{fragments/layout :: nav('/employee/create')}">placeholder</nav>
<main class="container">
    <h3 th:text="#{employee.create.title}">Create an employee:</h3>
    <div th:if="${message ne null and message.length > 0}"
         class="alert alert-success" role="alert"
         th:text="${message}">
        Success message when employee was created
    </div>
    <form method="post" th:object="${employeeDto}">

        <div class="form-group">
            <label class="form-label" th:text="#{employee.create.name}">Name:</label>
            <input class="form-control" type="text" placeholder="employee name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="form-error"></span>
        </div>

        </br>
        <div class="form-group">
            <label class="form-label" th:text="#{employee.create.surname}">Surname:</label>
            <input class="form-control" type="text" placeholder="employee surname" th:field="*{surname}">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:errorclass="form-error"></span>
        </div>

        </br>
        <div class="form-group">
            <label class="form-label" th:text="#{employee.create.email}">Email:</label>
            <input class="form-control" type="text" placeholder="employee email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="form-error"></span>
        </div>

        <br/>
        <div class="form-group">
            <label class="form-label" th:text="#{employee.create.position}">Position:</label>
            <select class="form-control" th:field="*{positionId}">
                <option th:each="position: ${positions}" th:value="${position.getId()}" th:text="${position.getName()}">
                </option>
            </select>
        </div>

        </br>
        <div>
            <label class="form-label" th:text="#{employee.create.password}">Password:</label>
            <input class="form-control" type="text" placeholder="employee password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:errorclass="form-error"></span>
        </div>

        </br>
        <div>
            <label class="form-label" th:text="#{employee.create.repeatPassword}">Repeat Password:</label>
            <input class="form-control" type="text" placeholder="employee repeat password" th:field="*{repeatPassword}">
            <span th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:errorclass="form-error"></span>
        </div>

        <br/>
        <button class="btn btn-primary" type="submit" th:text="#{problem.create.action}">Submit</button>
    </form>
</main>
<footer th:replace="~{fragments/layout :: footer}">placeholder</footer>
</body>
</html>